header{
    .additionaly{
        padding-top: 60px;
        padding-bottom: 80px;
        background-color: #F7F8FA;
        .container{
            .row{
                .wrapper{
                  text-align: center;
                  h4{
                      margin-top: 30px;
                      
                  }
                  p{
                      margin-top: 30px;
                  }
                    a{
                        button{
                            background: #5123cf;
                            color: wheat ;
                            &:hover{
                                background-color: rgb(22, 20, 122);
                                transition: 0.9s;
                            }
                            width: 60%;
                            height: 40px;
                        }
                           
                    }
                   
                }
            }
        }
    }
 
}