body{
    background:rgb(241, 239, 239);
}
.left-side{
    .left{
        background: white;
        .img{
            overflow: hidden;
            img{
                transition: 0.4s;
                height: 350px;
                width: 100%;
                object-fit: cover;
                &:hover{
                    transform: scale(1.07);
                }
            }
        }
        display: flex;
        flex-wrap: wrap;
        .text{
         width: 90%;
         padding-top: 20px;
         padding-left: 20px;
         hr{
             width: 15%;
             height: 2px;
             color: black;
         }

            a{
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                border-radius: 30px;
                color: white;
                background-color: blue;
                padding: 3px 12px;
            }
            .sp{
                font-weight: 700;
                font-size: smaller;
                color: grey;

            }
            h3{
                margin-top: 15px;
                font-size: 25px;
            }
            p{
                margin-top: 25px;

            }
        }
    }
}
.page-btn{
    margin: 15px auto 25px;
    span{
        display: inline-block;
        border: 1px solid rgb(206, 204, 204);
        margin-left: 10px;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 51px;
        cursor: pointer;
        border-radius: 30px;
        background: rgb(247, 242, 242);
        box-shadow: 0 0 10px 0 rgb(194, 178, 171);
        &:hover{
            background: rgb(20, 20, 20);
            color: white;
        }
    }
}
.right-side{
    background: white;
    .search{
         margin-top: 30px;
         width: 80%;
        height: 50px;
        border-radius: 50px;
        border: 1px solid rgb(214, 211, 211);
        margin-left: 10px;
        padding-left: 5px;

    }
    .sr{
        margin: 10px;
        color: grey;
        font-size: larger;
        padding-left: 15px;

    }
    h5{
        padding-left: 10px;
        padding-top: 10px;

    }
}
   
    .right{

        .img{
            margin-left: 5px;
            width:130px;
            overflow: hidden;
            img{
                transition: 0.4s;
                width: 100%;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        display: flex;
        .text{
            margin-top: 15px;
            width: 88%;
            font-size: larger;
            font-weight: 600;

            a{
                width: 90%;
                text-decoration: none;
                color: black;
                font-size: initial;
            }
            span{
                font-weight: 700;
                font-size: smaller;
                color: grey;
            }
        }
    }
    .img2{
        padding: 35px;
    }
    @media only screen and (max-width: 1400px) {
        .left-side{
            .left{
                .img{
                    display: block;
                }
                .text{
                    font-size: 14px;
                    display: block;
                    
                }
            }
        }
        .right-side{
            margin-top: 1px;
            
            .right{
                .text{
                    padding-left: 30px;
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
      }

    //   @media only screen and (max-width: 1200px) {
    //     .left-side{
    //         .left{
    //             .img{
    //                 display: block;
    //             }
    //             .text{
    //                 display: block;
    //                 padding-left: 30px;
    //             }
    //         }
    //     }
    //     .right-side{
    //         .right{
    //             .text{
    //                 padding-left: 10px;
    //             }
    //         }
    //     }
    //   }
      